*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #22b573;
    padding: 20px;
    margin: 0;
    height: 70px;
}
.header-container h1{
    margin: 0;
}
.menu-container{
    background-color: #1a1a1a;
    overflow: hidden;
    min-width: 18vw;
}
.menu li{
    list-style-type: none;
    padding: 15px;
    text-align: center;
    background-color: #333333;
    color: #dadada;
    margin: 10px;
    border-radius: 10px;
    font-weight: 500px;
}

.menu li:hover{
    background-color: gray;
    color: white;
    cursor: pointer;
}
.perfil{
    width: 50px;
    border-radius: 50px;
}

.activity-container{
    display: flex;
    background-image: linear-gradient(120deg, #00002F 0%, #062156 100%);
    height: calc(100vh - 70px);
    width: 100%;
}
.activity-content{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 15px;
}
.activity{
    background-color: white;
    height: fit-content;
    width: 100%;
    border-radius: 7px;
    overflow: auto;
    margin-bottom: 15px;
}
.activity-header{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background-color: green;
    color: white;
}

.activity-text{
    padding: 5px;
    width: 100%;
    height: 70px;
    overflow: auto;
}

a{
    text-decoration: none;
}