*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #22b573;
    padding: 20px;
    margin: 0;
    height: 70px;
}
.header-container h1{
    margin: 0;
}
.menu-container{
    background-color: #1a1a1a;
    overflow: hidden;
    min-width: 280px;
}
.menu li{
    list-style-type: none;
    padding: 15px;
    text-align: center;
    background-color: #333333;
    color: #dadada;
    margin: 10px;
    border-radius: 10px;
    font-weight: 500;
}

.menu li:hover{
    background-color: gray;
    color: white;
    cursor: pointer;
}
.perfil{
    width: 50px;
    border-radius: 50px;
}

.notepad-container{
    width: 100%;
    display: flex;
    /* background-image: linear-gradient(120deg, #00002F 0%, #062156 100%); */
    height: calc(100vh - 70px);
}
.notepad-content{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.action-button-container{
    display: flex;
    justify-content: space-around;
}
.action-button{
    width: 47%;
    height: 30px;
    border-radius: 7px;
    background-color: #22b573;
    color: white;
    border: none;
    cursor: pointer;
}
.action-button:hover{
    background-color: #28df8c;
}
.notepad{
    display: flex;
    flex-direction: column;
}
.notepad-count{
    color: #737373;
    position: relative;
    top: -65px;
    right: -320px;
    user-select: none;

}
.notepad-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}
.notepad-emoji{
    width: 25px;
}
.notepad-header{
    color: white;
}
.notepad textarea{
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border: none;
    background-position-y: 33px;
    line-height: 35px;
    padding: 30px;
    margin: 7px;
    font-size: 25px;
    font-weight: 500;
    width: 350px;
    height: 500px;
    border-radius: 7px;
    resize: none;
    overflow: hidden;
    
}

.prev-button, .next-button{
    width: 50px;
    height: 50px;
    border-radius: 7px;
    background-color:  #22b573;
    color: white;
    border: none;
    cursor: pointer;
}

.prev-button:hover, .next-button:hover{
    background-color: #28df8c;
}

.back{
    list-style-type: none;
    padding: 15px;
    text-align: center;
    background-color: #333333;
    color: #dadada;
    margin: 10px;
    border-radius: 10px;
    font-weight: 500;
    margin-top: 480px;
}

a{
    text-decoration: none;
}

i{
    display: flex;
    position: absolute;
    text-align: center;
    margin: auto;
    width: 17%;
    margin-top: 470px;
    color: white;
}


body {
    background-color: white;
    transition: all 0.5s;
}

.dark {
    background-color: #000000;
}

.dark-light {
    position: absolute;
    top: 90%;
    left: 20%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border: 0;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    animation: pulse 2s infinite;
}

.dark-light:hover{
    background-color: #000000;
}

.dark-light:hover {
    animation: none;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 20px rgba(204, 169, 44, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 20px rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 20px rgba(204, 169, 44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}
