<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form method="post" action="../ScriptsPHP/salvarnovasenha.php">
            <h1>Verifique o código de segurança enviado no seu e-email</h1>
            <ul>
                <li id="codigo">Código de segurança</li>
                <li><input type="number" name="codigo"></li>
                <li>Nova Senha</li>
                <li><input type="password" name="senha"></li>
                <input type="submit" name="concluido">
            </ul>
        </form>
    </div>
</body>
</html>