*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #22b573;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
    height: 70px;
}
.header-container h1{
    margin: 0;
    user-select: none;
    cursor: pointer;
}
.click-perfil{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.click-wrapper {
    display: flex;
    position: absolute;
    left: 79vw;
    top: 70px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: first baseline;
}

.dados-wrapper {
    border-radius: 10px;
    font-weight: 500;
    margin-top: 5%;
    width: 20vw;
    text-align: center;
    background-color: #1a1a1a;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.wrapper-icon{
 width: 25px;   
 filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(347deg) brightness(108%) contrast(102%);
}
.lista-dados {
    padding: 5% 5% 3%;
}
.lista-dados-content{
    background-color: #333333;
    padding: 10px;
    margin: 7px;
    border-radius: 10px;
}
.lista-dados li {
    list-style-type: none;
    text-align: left;
    margin-bottom: 5px;
}
.lista-dados .center{
    text-align: center;
}
#second-perfil {
    height: 80px;
    width: 80px;

}
.config-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 7px;
    margin-right: 7px;
}
.config-container a {
    width: 50%;
    text-align: center;
}
.config-container a:hover {
    background-color: gray;
    color: white;
    border-radius: 10px;
}
.config-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}
.menu-container{
    background-color: #f7f7f7;
    overflow: hidden;
    width: 30vw;
    border-radius: 7px;
}
.menu li{
    list-style-type: none;
    padding: 15px;
    text-align: center;
    background-color: #333333;
    color: #dadada;
    margin: 10px;
    border-radius: 10px;
    font-weight: 500;
}
.menu li:hover{
    background-color: gray;
    color: white;
    cursor: pointer;
}
.perfil{
    width: 100px;
    border-radius: 50%;
}
.notepad-container{
    width: 100%;
    display: flex;
    background-color: #fff;
    height: 86vh;
    border-radius: 7px;
}
.notepad-container .notepad-content{
    align-content: center;
}
.notepad-content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15%;
}

.hidden{
    display: none;
}