*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background: #22b573;
}
.logo{
    width: 200px;
    padding: 40px;
}
.logo-container h1{
    font-size: 40px;
}

.invalido{
    text-align: left;
    color: red;
    position: absolute;
    top: 95px;
    opacity: 0;
    animation: invalido 5s ease-out;
}
.logo-container{
    color: white;
    padding: 70px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    width: 100vw;
    display: flex;
    justify-content: space-between;
}
.login-container{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.09);
}

.senha-container{
    z-index: 0;
    position: relative;
    width: 100%;
    height: fit-content;
    margin-bottom: 25px;
}

.senha-container input{
    margin: 0;
    width: 100%;
}
.senha-container img{
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    filter: brightness(0) saturate(100%) invert(8%) sepia(55%) saturate(31%) hue-rotate(34deg) brightness(97%) contrast(96%);
    cursor: pointer;
}

.label-align{
    display: flex;
    font-weight: 500;
    color: #3d3d3d;
}

.login{
    width: 100%;
    padding: 60px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.action-button{
    display: flex;
    justify-content: space-between;
}

.entrar-button, .registrar-button{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: #22b573;
    color: white;
    font-weight: 500;
    cursor: pointer;
}
.entrar-button:hover, .registrar-button:hover{
    background-color: #28df8c;
}

.registrar-button a{
    text-decoration: none;
    color: white;
}

.usuario-input, .senha-input{
    padding: 7px;
    margin-top: 5px;
    margin-bottom: 25px;
    border: 1px #062156 solid;
    border-radius: 5px;
}

.login-label{
    display: flex;
    margin-bottom: 25px;
    color: #3d3d3d;
}

.logo-main{
    display: flex;
}

.logo-side{
    position: relative;
    display: flex;
    align-items: center;
}
.feliz, .raiva, .triste{
    top: 7px;
    bottom: 0;
    position: absolute;
}

.logo-side .feliz, .logo-side .triste, .logo-side .raiva{
    font-size: 30px;
    opacity: 0;
}

.logo-text h1{
    animation: logoShow 1s ease-in-out ;
}
.logo-text p{
    opacity: 1;
    animation: descShow 2s ease-in-out ;
}

.logo-side .me{
    animation: switchMe 10s ease-in-out;
}

.logo-side .feliz{
    animation: switchFeliz 10s ease-in-out;
}

.logo-side .raiva{
    animation: switchRaiva 10s ease-in-out;
}

.logo-side .triste{
    animation: switchTriste 10s ease-in-out;
}

@keyframes logoShow {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes descShow {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    50% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes switchMe {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    10%{
        opacity: 1;
        transform: translateY(0px);
    }
    45% {
        opacity: 1;
        transform: scale(100%);
    }
    50% {
        transform: scale(0%);
    }

    75%{
        transform: scale(0%);
    }
    80% {
        transform: scale(100%);
    }
    
}

@keyframes switchFeliz{
    0% {
        opacity: 0;
        transform: scale(0%);
    }
    45% {
        opacity: 0;
        transform: scale(0%);
    }
    50% {
        opacity: 1;
        transform: scale(100%);
    }
    55% {
        opacity: 1;
        transform: scale(100%);
    }
    60% {
        opacity: 0;
        transform: scale(0%);
    }

    to {
        opacity: 0;
        transform: scale(0%);
    }
}

@keyframes switchRaiva{
    0% {
        opacity: 0;
        transform: scale(0%);
    }
    55% {
        opacity: 0;
        transform: scale(0%);
    }
    60% {
        opacity: 1;
        transform: scale(100%);
    }
    65% {
        opacity: 1;
        transform: scale(100%);
    }
    70% {
        opacity: 0;
        transform: scale(0%);
    }

    to {
        opacity: 0;
        transform: scale(0%);
    }
}

@keyframes switchTriste{
    0% {
        opacity: 0;
        transform: scale(0%);
    }
    65% {
        opacity: 0;
        transform: scale(0%);
    }
    70% {
        opacity: 1;
        transform: scale(100%);
    }
    75% {
        opacity: 1;
        transform: scale(100%);
    }
    80% {
        opacity: 0;
        transform: scale(0%);
    }

    to {
        opacity: 0;
        transform: scale(0%);
    }
}

@keyframes fundo {
    0% {
        background-position: 10% 30%;
    }
    50% {
        background-position: 60% 20%;
    }
    100% {
        background-position: 0 0;
    }
}

@keyframes invalido {
    from {opacity: 1;}
    80%{opacity: 1;}
    to {opacity: 0;}
}

