*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #22b573;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
    height: 70px;
}
.header-container h1{
    margin: 0;
    user-select: none;
    cursor: pointer;
}
.click-perfil{
    display: flex;
    align-items: center;
    padding: 5px;
    height: 100%;
    cursor: pointer;
}
.click-perfil:hover{
    background-color: #28df8c;
}

.click-wrapper {
    display: flex;
    position: absolute;
    left: 79vw;
    top: 70px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: first baseline;
}

.dados-wrapper {
    border-radius: 10px;
    font-weight: 500;
    margin-top: 5%;
    width: 20vw;
    text-align: center;
    background-color: #1a1a1a;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    z-index: 1;
}

.wrapper-icon{
 width: 25px;   
 filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(347deg) brightness(108%) contrast(102%);
}
.lista-dados {
    padding: 5% 5% 3%;
}
.lista-dados-content{
    background-color: #333333;
    padding: 10px;
    margin: 7px;
    border-radius: 10px;
}
.lista-dados li {
    list-style-type: none;
    text-align: left;
    margin-bottom: 5px;
}
.lista-dados .center{
    text-align: center;
}
#second-perfil {
    height: 80px;
    width: 80px;

}
.config-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 7px;
    margin-right: 7px;
}
.config-container a {
    width: 100%;
    text-align: center;
}
.config-container a:hover {
    background-color: gray;
    color: white;
    border-radius: 10px;
}
.config-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}
.menu-container{
    background-color: #1a1a1a;
    overflow: hidden;
    width: 18vw;
    color: white;
    text-align: center;
    padding: 10px;
}
.menu-container h1{
    padding: 7px;
}
.menu{
    border-radius: 7px;
    width: 100%;
    height: 95%;
    background-color: #333333;
    text-align: left;
}
.menu li{
    list-style-type: none;
    padding: 15px;
    text-align: center;
    background-color: #333333;
    color: #dadada;
    margin: 10px;
    border-radius: 10px;
    font-weight: 500;
}
.menu li:hover{
    background-color: gray;
    color: white;
    cursor: pointer;
}
.perfil{
    width: 50px;
    border-radius: 50px;
}

.notepad-container{
    width: 100%;
    display: flex;
    background-image: linear-gradient(120deg, #00002F 0%, #062156 100%);
    height: calc(100vh - 70px);
}
.notepad-container .notepad-content{
    align-content: center;
}
.notepad-content{
    display: flex;
    padding: 25px;
    width: 100%;
}
.emoji-button{
    font-size: 25px;
    cursor: pointer;
    z-index: 1;
}
.emoji-content{
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    position: absolute;
    top: 20vh;
    left:36vw;
    width: 350px;
    padding: 20px;
    border-radius: 7px;
    height: fit-content;
    padding-top: 35px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.test{
    background-color: white;
}
.emoji-content select{
    width: 100%;
    padding: 5px;
    font-size: 20px;
    border-radius: 7px;
}
.emoji-container hr, select{
    margin-top: 20px;
    margin-bottom: 20px;
}
.emoji-close{
    width: 100%;
    height: 40px;
    border-radius: 7px;
    padding: 7px;
    background-color: #22b573;
    color: white;
    border: none;
    cursor: pointer;
}
.action-button-container{
    display: flex;
    justify-content: space-around;
}
.action-button{
    width: 47%;
    height: 30px;
    border-radius: 7px;
    background-color: #22b573;
    color: white;
    border: none;
    cursor: pointer;
}
.action-button:hover{
    background-color: #28df8c;
}
.notepad{
    display: flex;
    flex-direction: column;
}
/*.notepad-count{
    color: #737373;
    position: relative;
    top: -65px;
    right: -320px;
    user-select: none;

}*/
.notepad-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}


a{
    text-decoration: none;
}
.foto-confirmação {
    width: 15%;
    height: 15%;
}
.paciente-select{
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 7px;
    overflow: auto;
    box-sizing: content-box;
    cursor: pointer;
}
.paciente-selected{
    background-color: grey;
}

.paciente-select:hover{
    background-color: grey;
}
.paciente-table{
    display: none;
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 7px;
}
.paciente-anotacoes{
    width: 100%;
}
.paciente-anotacoes h1{
    text-align: center;
    padding: 20px;
}

.paciente-anotacao{
    width: 99%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.paciente-anotacao-header{
    display: flex;
    border-radius: 7px;
    justify-content: space-around;
    background-color:  #22b573;
}

.paciente-anotacao-content{
    margin-bottom: 30px;
}

.paciente-anotacao-info{
    display: flex;
    justify-content: space-between;
}

.paciente-anotacoes-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.paciente-prev-button, .paciente-next-button{
    width: 50px;
    height: 50px;
    border-radius: 7px;
    background-color:  #22b573;
    color: white;
    border: none;
    cursor: pointer;

}


.activity-add{
    display: flex;
    justify-content: flex-end;
    background-color: #cecece;
    width: 99%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 7px;
}

.emoji-content{
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    position: absolute;
    top: 20vh;
    left:36vw;
    width: 350px;
    padding: 20px;
    border-radius: 7px;
    height: fit-content;
    padding-top: 35px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.activity-add-table{
    padding: 10px;
    display: flex;
    flex-direction: column;
    right: 4%;
    width: 600px;
    height: 300px;
    background-color: white;
    position: absolute;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.activity-add-table input, .activity-add-table textarea{
    padding: 7px;
    margin-top: 7px;
    margin-bottom: 7px;
    border-radius: 7px;
    border: 1px solid;
    resize: none;
}

.activity-save{
    width: 100%;
    height: 40px;
    border-radius: 7px;
    padding: 7px;
    background-color: #22b573;
    color: white;
    border: none;
    cursor: pointer;
}

.activity{
    height: fit-content;
    width: 99%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
    overflow: auto;
    margin-bottom: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.activity-header{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    padding-left: 50px;
    padding-right: 50px;
    background-color:  #22b573;
    color: white;
}
.activity-text{
    padding: 10px;
    width: 100%;
    height: 70px;
    overflow: auto;
}
.activity-info{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.activity-button img{
    width: 20px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(2%) hue-rotate(153deg) brightness(102%) contrast(101%);
}

.activity-button-plus{
    filter: brightness(0) saturate(100%) invert(0%) sepia(82%) saturate(7500%) hue-rotate(22deg) brightness(111%) contrast(103%);
}

.activity-button{
    width: 100px;
    background: none;
    border: none;
    cursor: pointer;
}

.hidden{
    display: none;
}
.show{
    display: block;
}