*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #22b573;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
    height: 70px;
}
.header-container h1{
    margin: 0;
    user-select: none;
    cursor: pointer;
}
.click-perfil{
    display: flex;
    align-items: center;
    padding: 5px;
    height: 100%;
    cursor: pointer;
}
.click-perfil:hover{
    background-color: #28df8c;
}

.click-wrapper {
    display: flex;
    position: absolute;
    left: 79vw;
    top: 70px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: first baseline;
}

.dados-wrapper {
    border-radius: 10px;
    font-weight: 500;
    margin-top: 5%;
    width: 20vw;
    text-align: center;
    background-color: #1a1a1a;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    z-index: 1;
}

.wrapper-icon{
 width: 25px;   
 filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(347deg) brightness(108%) contrast(102%);
}
.lista-dados {
    padding: 5% 5% 3%;
}
.lista-dados-content{
    background-color: #333333;
    padding: 10px;
    margin: 7px;
    border-radius: 10px;
}
.lista-dados li {
    list-style-type: none;
    text-align: left;
    margin-bottom: 0px;
}

.dados-title{
    color: rgb(189, 189, 189);
}

.lista-dados hr{
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
}
.lista-dados .center{
    text-align: center;

}
#second-perfil {
    height: 80px;
    width: 80px;

}
.config-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 7px;
    margin-right: 7px;
}
.config-container a {
    width: 50%;
    text-align: center;
    transition: .1s ease-in-out;
    border-radius: 10px;
}
.config-container a:hover {
    background-color: gray;
    color: white;
}
.config-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}
.menu-container{
    background-color: #1a1a1a;
    overflow: hidden;
    min-width: 18vw;
}
.menu li{
    list-style-type: none;
    padding: 15px;
    text-align: center;
    background-color: #333333;
    color: #dadada;
    margin: 10px;
    border-radius: 10px;
    font-weight: 500;
    transition: .2s ease-in-out;
}
.menu li:hover{
    background-color: gray;
    color: white;
    cursor: pointer;
}
.perfil{
    width: 50px;
    height: 50px;
    border-radius: 70px;
    object-fit: cover;
}

.notepad-container{
    width: 100%;
    display: flex;
    background-image: linear-gradient(120deg, #00002F 0%, #062156 100%);
    height: calc(100vh - 70px);
}
.notepad-container .notepad-content{
    align-content: center;
}
.notepad-content{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 25px;
    overflow: auto;
}

.cadastro-table{
    display: none;
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 7px;
    padding: 30px;
    justify-content: space-between;
}

.no-border{
    padding: 0px;
    margin: 0px;
    
}
.cadastro-button{
    display: flex;
    justify-content: center;
    border: none;
    align-items: center;
    height: fit-content;
    width: 50%;
    height: 100%;
    background-color: #b6b6b6;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: .5s;
}

.left-button{
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
    border-right: 1px solid rgb(161, 161, 161);
}

.right-button{
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
}

.cadastro-button:hover, .cadastro-button:hover{
    background-color: #28df8c;
    font-size: 18px;
}

.paciente-cadastro-container, .psicologo-cadastro-container{
    width: 100%;
    overflow: auto;
    padding: 6px 15px;
}

.paciente-cadastro-container h1, .psicologo-cadastro-container h1{
    font-size: 25px;
    margin-bottom: 30px;
}

.form-subtitle{
    font-weight: 500;
    margin-bottom: 30px;
}

.form-space{
    margin-bottom: 60px;
}


input, select{
    display: flex;
    padding: 10px;
    border: 1px #062156 solid;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
}

.senha-container{
    z-index: 0;
    position: relative;
}
.senha-container img{
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    filter: brightness(0) saturate(100%) invert(8%) sepia(55%) saturate(31%) hue-rotate(34deg) brightness(97%) contrast(96%);
    cursor: pointer;
}

.cross-input{
    display: flex;
    justify-content: space-between;
}

.check-input{
    display: flex;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 30px;
}

.responsavel-form{
    display: none;
}
.responsavel-form hr{
    margin-bottom: 30px;
}

.check-input input{
    margin: 0;
    width: fit-content;
    height: fit-content;
}

.check-input label{
    padding-left: 10px;
}

.cross-input div{
    width: 48%;
}

.check-text{
    margin-bottom: 20px;
    padding: 0;
    color: rgb(241, 60, 60);
    display: none;
}

.check-container{
    position: relative;
}

.check-disabled{
    position: absolute;
    width: 100%;
    height: 25px;
    background-color: grey;
    border-radius: 2px;
    opacity: 50%;
    top: 0;
    display: none;
}

.responsavel-form{
    display: none;
}
.responsavel-form hr{
    margin-bottom: 30px;
}

.check-input input{
    margin: 0;
    width: fit-content;
    height: fit-content;
}

.check-input label{
    padding-left: 10px;
}

.cross-input div{
    width: 48%;
}

.cross-input .small-input{
    width: 20%;
}

.cross-input .big-input{
    width: 75%;
}

.psicologo-cadastro{
    display: flex;
    flex-direction: column;
    /* padding-top: 420px; */
    width: 90%;
    height: 100%;
    margin-left: 15px;
    justify-content: center;
    overflow: scroll;
    margin: 0 auto;
}

.title{
    padding-top: 100px;
    font-size: 50px;
    color: black;
}
.teste-flex{
    position: absolute;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.backButton{
    width: 50px;
    height: 50px;
    background: none;
    color: #1a1a1a;
    border: none;
    cursor: pointer;
}

.backButton:hover{
    color: #333333;
}

.backListar{
    padding: 20px;
    position: relative;
    color: white;
}

.action-button-container{
    display: flex;
    justify-content: space-between;
}

.action-button{
    width: 47%;
    border-radius: 7px;
    background-color: #22b573;
    color: white;
    border: none;
    cursor: pointer;
    padding: 7px;
    margin-top: 25px;
}
.action-button:hover{
    background-color: #28df8c;
}

a {
    text-decoration: none;
    color: white;
}

.psi-paci-header-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 34px;
    justify-content: center;
}

.psi-paci-header-text h1{
    margin-bottom: 50px;
}

.psi-table{
    display: flex;
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 7px;
    padding: 30px;
    justify-content: space-between;
    position: relative;
    overflow: auto;
}

.psi-table{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.psi-paci-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 10px;
    width: 300px;
    height: 50vh;
    margin-left: 20px;
    background-color: #1a1a1a;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 7px;
    cursor: pointer;
    transition: .2s ease-in-out;
    flex-shrink: 0;
}

.psi-paci-list h1{
    font-size: 1rem;
    margin-bottom: 10px;
}

.psi-paci-text-div{
    background-color: #333333;
    width: 100%;
    padding: 10px;
    height: 100%;
    border-radius: 7px;
    overflow: auto;
}

.psi-paci-img{
    height: 100px;
    object-fit: cover;
    width: 100px;
    border-radius: 50%;
    margin: 10px;
}

.listar-psi-paci{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #1a1a1a;
    color: white;
    border-radius: 7px;
    padding: 20px;
    margin-bottom: 20px;
}

.listar-psi-paci h1{
    font-size: 2rem;
}

.listar-psi-paci img{
    width: 130px;
    height: 130px;
}

.listar-psi-paci-info p{
    margin-bottom: 5px;
    margin-top: 5px;
}

.listar-psi-paci-info{
    margin-top: 20px;
    width: 100%;
    background-color: #333333;
    color: white;
    border-radius: 7px;
    padding: 20px;
}

.paci-info-list h1{
    color: rgb(189, 189, 189);
    margin-bottom: 2px;

}

.paci-info-list p{
    margin-bottom: 10px;

}

.paciente-add{
    display: flex;
    justify-content: flex-end;
    background-color: #cecece;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 7px;
    margin-top: 20px;
}

.paciente-add-button{
    width: 100px;
    background: none;
    border: none;
    cursor: pointer;
}

.paciente-add-button img{
    width: 20px;
    filter: brightness(0) saturate(100%) invert(0%) sepia(82%) saturate(7500%) hue-rotate(22deg) brightness(111%) contrast(103%);
}


.listar-psi-paci-info .info-container{
    display: flex;
}

.info-container{
    align-items: center;
}
.listar-psi-paci-info .info-title{
    color: rgb(189, 189, 189);
    margin-right: 10px;
    font-weight: 500;
}

.psi-search-bar{
    width: 40%;
    margin-bottom: 0;
}

.psi-details-paci{
    display: flex;
    justify-content: space-between;
    background-color: #ebebeb;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 7px;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.psi-details-paci:hover{
    transform: scale(101%);
}

.psi-details-paci p{
    font-size: 1rem;
    font-weight: 500;
}

.psi-details-paci div{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.editPsicoButton{
    margin-left: 20px;
    width: 50px;
    height: 25px;
    border: none;
    background-color: #dadada;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.editPsicoButton:hover{
    background-color: #ebebeb;
    transform: scale(105%);
}

.editPsicoButton img{
    width: 20px;
    height: 20px;
}

.editPsicoTable{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 25px;
    padding: 20px;
    border-radius: 7px;
    position: absolute;
    background-color: white;
    top: 45%;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 50vw;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.editPsicoTable h1{
    margin-bottom: 20px;
}

.editPsicoTableButton{
    width: 100%;
    height: 40px;
    border-radius: 7px;
    padding: 7px;
    background-color: #22b573;
    color: white;
    border: none;
    cursor: pointer;
}

.big-div{
    height: 100%;
}

.article-grid-list {
    display: flex;
    align-items: center;
    height: 100%;
    overflow: auto;
}

.title-paci {
    display: flex;
}

.hidden{
    display: none;
}

.show{
    display: flex;
}

.showBlock{
    display: block;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #1a1a1a #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #1a1a1a;
    border-radius: 10px;
    border: 3px solid #b6b6b6;
  }

  *::-webkit-scrollbar-track {
    border-radius: 6px;
    background-color: #b6b6b6;
  }

  @media screen and (max-width: 600px) 
  {      body{ 
            scroll-behavior: none;     
        }     
        #style-calendar{         
            flex-direction: column;     
        }     

        .notepad-container{         
            display: block;         
            height: 100%;     
        }   

        .notepad-content{
            height: 600px;
            
        }

        .show{         
            flex-direction: column;         
            gap: 5px;         
            height: 50vh;     
        }     
        
        .cadastro-table button {         
            width: 100%;    
         } 

        .click-wrapper{
            left: 47vw;
            z-index: 1;

        }
    
        .dados-wrapper{
            width: 50vw;
    
        }

        .lista-dados-content li{
            padding: 2px;
        }

        .backButton{
            text-align: start   ;
        }

        .article-grid-list{
            flex-direction: column;
            margin: 5px;
            
        }
        .psi-paci-list{
            height: 49vh;
            width: 90%;
            margin: 10px;
        }

        

        .cadastro-table{
            width: 100%;
            height: 100%;
        }

    
    }