*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-calendar{
    /* border: 2px solid red; */
   
}
.agendar{
    margin: 0 auto;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: space-between;
    margin-top:25px;
    margin-bottom: 50px;
    width: 68vw;
    
}
.agendar button{
    width: 100px;

}

.calendar{
    height: 100%;
}